QGraphicsView
{
    selection-background-color: rgb(0, 39, 43);
}

QToolTip
{
    background: rgb(242, 242, 242);
    color: rgb(0, 45, 50);
    border: none;
    font-family: 'Source Sans Pro';
    font-size: 14px;
}

QScrollBar:vertical
{
    width: 6px;
    border: none;
    background: none;
}

QScrollBar::handle:vertical
{
    background: rgb(0, 204, 143);
    min-width: 20px;
}

QScrollBar::add-line:vertical
{
    height: 0px;
}

QScrollBar::sub-line:vertical
{
    height: 0px;
}

QScrollBar::add-page:vertical, QScrollBar::sub-page:vertical
{
    background: none;
    height: 0px;
}

QPlainTextEdit
{
    color: white;
    background: transparent;
    border: none;
    selection-color: rgb(0, 204, 143);
    selection-background-color: transparent;
}

QMessageBox {
    margin: 10px;
}

QMessageBox QLabel {
    font: 11pt "Source Sans Pro";
    color: rgb(0, 45, 50);
}

QMessageBox QPushButton
{
    padding: 8px 10px;
    min-width: 100px;
    border-radius: 3px;
    background: rgb(230, 230, 230);
    font: 11pt "Source Sans Pro";
    color: rgb(0, 45, 50);
}

QMessageBox QPushButton:hover
{
    background: rgb(220, 220, 220);
}

QMessageBox QPushButton:pressed
{
    background: rgb(200, 200, 200);
}
